In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('lastfm_9000_users.csv')
df.head()

,Unnamed: 0,user_id,artist_mbid,artist_name,plays
0,0,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,b7ffd2af-418f-4be2-bdd1-22f8b48613da,nine inch nails,11092
1,1,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,8ca01f46-53ac-4af2-8516-55a909c0905e,my bloody valentine,1671
2,2,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,e795e03d-b5d5-4a5f-834d-162cfb308a2c,pj harvey,1603
3,3,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,69ee3720-a7cb-4402-b48d-a02c366f2bcf,the cure,1588
4,4,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,90cc2464-234e-4da0-b39b-576f36e633bc,antony and the johnsons,1039

In [3]:
df.shape

(438346, 5)

In [8]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [9]:
df.head()

,user_id,artist_mbid,artist_name,plays
0,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,b7ffd2af-418f-4be2-bdd1-22f8b48613da,nine inch nails,11092
1,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,8ca01f46-53ac-4af2-8516-55a909c0905e,my bloody valentine,1671
2,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,e795e03d-b5d5-4a5f-834d-162cfb308a2c,pj harvey,1603
3,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,69ee3720-a7cb-4402-b48d-a02c366f2bcf,the cure,1588
4,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,90cc2464-234e-4da0-b39b-576f36e633bc,antony and the johnsons,1039

In [12]:
df.groupby(['user_id']).count()

                                          artist_mbid  artist_name  plays
user_id
00029d80b8af94f2d5e3349ceb28b7304f80c1c4           49           49     49
000a1585c5f65532a9c9187a882892982d345a5c           46           47     47
000fd8e3929fdab3c872a0c850fe4f3a3368af38           49           50     50
0018c29f20d69d17a14ba01089ec997acaffbb46           48           48     48
001eb13513650a4e21664965bac63d60e44be8a5           48           48     48
002953eed5afd0a047b8f3e3a6301a7071b5f942           28           29     29
002b5d4a2aea86f2b52103393398409aa28d435a           75           76     76
002e3b163344124259c8ed8f8ebecbcdfc186b4a           49           50     50
0033de80a55a7be53bd86034ca32cc3b2e2a85d3           46           47     47
00349d64e8306f6a89e6cf852239082773fc7f5c           48           48     48
0039b1adabf4032af4da32e79bd0d7307e71b854           60           60     60
004471b7e2b4fc470ca9a0e327d81dddce3e6574           62           63     63
00456ba983e5d59c62459149b7662dcf10d72e69           49           49     49
004b05cfb04c5f880470838adaf2a8d8b8fe6176           47           48     48
004e4e1831d13564c7c9ab3f21a8bcbfe5bb9f94           50           50     50
0056f9124c776ff1dd158c2d12440cee874ff3cb           59           60     60
005749da9449348f6f3a6adaefd9f4d9c788acd4           47           47     47
006e098abb3f7ddce96fa311e7568aa29154effa           44           45     45
008687c07718221268fc4763b17d72b76c3f1f3c           41           42     42
0093e72c75f5a0c36dd47073e104a3ae4ba96cef           63           63     63
00a1b2cc5145f07366a1c56221ae31e34501e46d           50           50     50
00a996baa9064cc4e372d316e28ab845b2ba3506           47           48     48
00ad7e173f9ed914d22098afee8517fce445044b           35           36     36
00b11f68e73c73351fe154d54b3f75b78b5cc8b2           45           46     46
00b34ec7a274a554458d7cce49548af655c3da10           40           41     41
00bc63222366cf663d328a274e01694f188a8040           60           61     61
00c256519bf928d4403998fcf3428a398bbd01b6           37           38     38
00c6f24c89ccf5c215909b66c1dc5909ddcebf4b           49           49     49
00d16d500004a79ade76cad5e8bbbf1fae920321           49           49     49
00d1b42eacef56e113cb9a9ce7befc84c8677e14           29           30     30
...                                               ...          ...    ...
ff4a5eba8c56c5c4a78bad5a66c53de6b3721c1f           38           38     38
ff51f97529dd03b45c2f498797017d5fe174fdd9           48           48     48
ff54b094a6a6095d8208bb8daa5833f282c5be20           43           44     44
ff63be5119072afd12fb238ea7b1fd05f9916f93           49           49     49
ff64d50d503770d2f69327c9313b9231403d7262           48           49     49
ff650770116ae527fc3035176d439676fd7b4f3b           59           60     60
ff6a096b03ed872b4a092dcd8241a2a72e2e8ed0           47           47     47
ff72ada3862c202aadff2c4689de722739d9a29e           50           51     51
ff76645706ed8176e18e76eba9e97f4121574d29           55           56     56
ff775907c7cc123cdd4fd9df62b5cddf57a82dfa           49           50     50
ff7bc34efbf595133e01e62a70f29a53c0704477           45           46     46
ff835d23392cb3127fe97e00fdd2d76a376807cc           42           42     42
ff85c5226323bf2dcb124657833bfa8ee2bc450d           43           44     44
ff8e18d8b4195b11a244403e508dca92a15447d5            5            6      6
ff909aedf8de338113cb7dd34f7fd87fbeeca5cd           47           47     47
ffa056fe912c16cbb8a86ee7d79aa9eae0867422           27           28     28
ffacdbe6584054a48647ce94253a923c9b74bb32           50           50     50
ffad163ba010f19c405ef2d3952b9e18fc53b732           48           49     49
ffb5f556433d30ebe5fe4bf524eb493540fe1377           49           50     50
ffb675bf47413af2bb82151904a61e3dbbd5fb1d           40           41     41
ffbd73db809368a08d593767abe0facc34ce18e3           39           40     40
ffc3f10a37fe9d91a17c107d2746de59d7ad36a1           42           43     43
ffd2fde868aede3f54b35a00ac1ab5c67feaad1c           50           50     50
ffd9e5830d4a945dfbd392ea247f5461a3dc039b           42           43     43
ffdbff74a33187f2fdd63acc951788e89f3a30ce           39           40     40
ffe7caf6f84055040914052e95c2ceabd58116f2           25           26     26
ffeb193e80fabff1804e71cc2b6bb6bb2a31ac03           46           47     47
fff58a5c95280b7af63f9c552f9159b58ae5efa3           54           55     55
fffafd71aa24298dbd5a1be22f6be1512a7d7fab           63           63     63
fffe356b9dab2fae1f887fabb1f08ab4976c91bb           44           45     45

[9000 rows x 3 columns]

In [14]:
df_mat=df.copy()

In [16]:
df_mat.drop(['artist_name'],axis=1,inplace=True)

In [17]:
df_mat=df_mat.reset_index(drop=True)
df_mat['List Index']=df_mat.index
users_group=df_mat.groupby('user_id')

In [18]:
df_mat.head()

,user_id,artist_mbid,plays,List Index
0,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,b7ffd2af-418f-4be2-bdd1-22f8b48613da,11092,0
1,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,8ca01f46-53ac-4af2-8516-55a909c0905e,1671,1
2,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,e795e03d-b5d5-4a5f-834d-162cfb308a2c,1603,2
3,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,69ee3720-a7cb-4402-b48d-a02c366f2bcf,1588,3
4,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,90cc2464-234e-4da0-b39b-576f36e633bc,1039,4

In [22]:
norm_plays=df_mat[['user_id','plays']].groupby('user_id').transform(lambda x: ((x - x.min())) /(x.max()-x.min()))

In [27]:
norm_plays.plays.value_counts()

0.000000    23466
1.000000     9197
0.200000     1034
0.333333      933
0.142857      926
0.166667      924
0.250000      882
0.500000      812
0.090909      762
0.125000      734
0.100000      732
0.066667      668
0.076923      665
0.111111      655
0.083333      626
0.058824      613
0.071429      607
0.055556      512
0.038462      506
0.052632      501
0.285714      468
0.045455      451
0.047619      449
0.181818      429
0.400000      422
0.062500      417
0.043478      415
0.040000      393
0.153846      379
0.033333      376
            ...
0.479835        1
0.201509        1
0.850820        1
0.048918        1
0.298587        1
0.537249        1
0.725768        1
0.943554        1
0.137858        1
0.370563        1
0.852921        1
0.054731        1
0.245798        1
0.014510        1
0.128159        1
0.133043        1
0.035182        1
0.031719        1
0.056707        1
0.036382        1
0.798942        1
0.102868        1
0.184656        1
0.007167        1
0.000143        1
0.027366        1
0.102324        1
0.030033        1
0.067618        1
0.432007        1
Name: plays, Length: 150611, dtype: int64

In [29]:
df_mat['norm_plays']=norm_plays

In [31]:
df_mat.to_csv('user_song_rating.csv',index=True)

In [32]:
df_mat.head()

,user_id,artist_mbid,plays,List Index,norm_plays
0,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,b7ffd2af-418f-4be2-bdd1-22f8b48613da,11092,0,1.000000
1,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,8ca01f46-53ac-4af2-8516-55a909c0905e,1671,1,0.145875
2,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,e795e03d-b5d5-4a5f-834d-162cfb308a2c,1603,2,0.139710
3,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,69ee3720-a7cb-4402-b48d-a02c366f2bcf,1588,3,0.138350
4,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,90cc2464-234e-4da0-b39b-576f36e633bc,1039,4,0.088577

In [33]:
df_matrix=df_mat.copy()

In [34]:
df_matrix.drop(['plays','List Index'],axis=1,inplace=True)

In [35]:
df_matrix.head()

,user_id,artist_mbid,norm_plays
0,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,b7ffd2af-418f-4be2-bdd1-22f8b48613da,1.000000
1,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,8ca01f46-53ac-4af2-8516-55a909c0905e,0.145875
2,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,e795e03d-b5d5-4a5f-834d-162cfb308a2c,0.139710
3,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,69ee3720-a7cb-4402-b48d-a02c366f2bcf,0.138350
4,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,90cc2464-234e-4da0-b39b-576f36e633bc,0.088577

In [48]:
df_matrix.isnull().sum()

user_id           0
artist_mbid    5731
norm_plays       48
dtype: int64

In [51]:
df_matrix.dropna(inplace=True)

In [56]:
df_matrix.norm_plays=df_matrix.norm_plays.apply(lambda x:math.ceil(x*5))

1    298823
2     60924
3     23888
0     23011
5     14720
4     11203
Name: norm_plays, dtype: int64